body {
	background-color:#000;
}
a {
  color: #3f729b;
}
h1  {
	text-align: center;
	font-family: 'Open Sans', sans-serif;;
}
div  .navbar-header {
	text-align: center;
}
.navbar {
	min-height: 50px;
	border: 0;
}
.navbar-heaer{
	text-align: center;
}
h1 .navbar-brand {
	padding: 0;
	text-align: center;
}
.center-form {
  width: 315px;
  margin: 10% auto;
}

.signup-or-separator {
  position: relative;
  height: 29px;
  margin: 5px 0;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}
