<div class="container">
		<div class="initalstart">
		<div class="jumbotron text-center">
			<h1>recollection.io</h1>
			<p>recollection is a web app which tracks your brain and makes it stronger through the use of daily exercises in which each question targets different areas of the brain to create a brain map in which one can see progress.
			<a class="btn btn-lg btn-sucess" href"#/login"><i class="ion-log-in"></i> Log in</a>
			<a class="btn btn-lg btn primary" href"#/signup"><i class="ion-person-add"></i> Sign up </a>
		</p>
	</div>
	</div>

